.notFoundHeading {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin: 0;
}

.notFoundHeadingHighlight {
    color: #09223a;
}

.notFoundBody {
    white-space: pre-line;
    padding-top: 0.5rem;
    padding-bottom: 0;
    font-size: 0.9rem;
    font-weight: 500;
}
