.memberView {
    container-type: inline-size;
}

.infoGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    position: relative;
    z-index: 1;
    gap: 1rem;
    margin-bottom: 1rem;
}

.infoBlockFullWidth {
    grid-column: 1 / -1;
}

@container (max-width: 593px) {
    .infoGrid {
        grid-template-columns: 1fr;
    }
}
