DISCORD_CLIENT_ID="xxx"
DISCORD_CLIENT_SECRET="xxx"
DISCORD_BOT_TOKEN="xxx"
NEXTAUTH_SECRET="xxx"
NEXTAUTH_URL="http://localhost:3000"
GUILD_ID="xxx"
NEUTRINO_USERID="pvuser"
NEUTRINO_SECRET="xxx"
MONGODB_URI="mongodb://localhost:27017"
SITE_URL="https://example.com"
BOOMERANG_URI="https://boomerang.example.com/api/auth"
PV_API_URL="devapi.progressivevictory.win"
PV_WEBSITE_ENVIRONMENT="local"