DISCORD_CLIENT_ID="1234"
DISCORD_CLIENT_SECRET="abcdefg"
DISCORD_BOT_TOKEN="mx213"
NEXTAUTH_SECRET="abcdefg"
NEXTAUTH_URL="http://localhost:3000"
GUILD_ID="122"
SITE_URL="https://example.com"
BOOMERANG_URI="https://boomerang.example.com/api/auth"
PV_WEBSITE_API_URL="devapi.progressivevictory.win"
PV_WEBSITE_API_KEY=""
