
PORT=3000
URL="http://localhost:3000"

# auth service vars
NEXTAUTH_SECRET="abcdefg"
NEXTAUTH_URL="http://localhost:3000"

# discord interface vars
DISCORD_CLIENT_ID="<bot client id>"
DISCORD_CLIENT_SECRET="<bot client secret>"
DISCORD_BOT_TOKEN="<bot token>"
GUILD_ID="1308877803705335858"

# neutrino vars
NEUTRINO_USERID="<neutrino id>"
NEUTRINO_SECRET="<neutrino key>"

# boomerang ig
BOOMERANG_URI="<boomerang uri>"

# api vars
PV_WEBSITE_API_URL="http://localhost:8080"
PV_WEBSITE_API_KEY="<just the discord bot token again>"