.tabBar {
    background-color: lightgray;
    border-radius: 5px;
}

.tabButton {
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
}

.tabButton:hover {
    background-color: blue;
}

.tabButtonSelected {
    background-color: aquamarine;
}
