.detailPane {
    height: calc(100dvh - 100px);
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
    padding-block: 1rem;
}

.listItemText {
    font-weight: 500;
    color: #000;
}

.emptyState {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
