@media (min-width: 640px) {
    .infoFormRow {
        flex-direction: row !important;
    }
}

.hyper {
    color: #4483c7;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 200px;
    max-width: 40vw;

    padding: 1rem;
}

.title {
    margin-inline: auto;

    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    color: white;
}

.subtitle {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    color: white;
}

.text {
    max-width: 20rem;

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: white;
}

.icon {
    width: 3rem;
    height: 3rem;

    color: white;

    &.spin {
        animation: spin 1s linear infinite;
    }
}

.button {
    padding: 0.5rem 1rem;
    border-radius: 9999px;

    background-color: #ce3728;

    font-weight: 700;
    text-wrap: nowrap;
    color: white;

    transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #7f1d1d;

        &:not(:disabled) {
            transform: scale(103%);
        }
    }

    &:disabled {
        background-color: #6b7280;

        cursor: not-allowed;
    }

    &.submit {
        width: 100%;
        border-radius: 0.375rem;

        font-size: 1.125rem;
        line-height: 1.75rem;

        &:not(:disabled) {
            background-color: #4483c7;

            &:hover {
                background-color: #ce3728;
            }
        }
    }
}

.success {
    color: #4483c7 !important;
}

.error {
    color: #dc2626 !important;
}

.supportNote {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    color: #fef08a;
}

.monospace {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        Liberation Mono,
        Courier New,
        monospace;
}

/* CollectInfoStage */
.infoFormSection {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.infoFormRow {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.requiredIndicator {
    color: #ef4444;
}

.requiredNote {
    width: 100%;
    padding: 0.25rem;

    font-size: 0.75rem;
    line-height: 1rem;
    text-align: left;
    color: white;
}

.phoneNote {
    max-width: 800px;
    margin-block: -0.125rem 0.5rem;

    font-size: 0.75rem;
    overflow-wrap: break-word;
    color: #d1d5db;
}

/* PhoneVerifyStage */
.verifyFormRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    width: 100%;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
