.root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
}

.main {
    display: flex;
    flex: 1;
    background-color: #f9fafb;
}

.content {
    display: flex;
    flex: 1;
    height: calc(100dvh - 100px);
}
