.cardOuter {
    flex: 0 0 var(--card-width);
    width: var(--card-width);
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;

    gap: calc(var(--card-width) / 50);

    width: 100%;
    box-sizing: border-box;

    border-radius: calc(var(--card-width) / 50);
    background: #ffffff;
    padding: calc(var(--card-width) / 40);

    box-shadow:
        0 1rem 1.25rem -0.25rem rgba(0, 0, 0, 0.1),
        0 0.4rem 0.5rem -0.3rem rgba(0, 0, 0, 0.1);
}

.cardTop {
    display: flex;
    flex-direction: column;
    gap: calc(var(--card-width) / 50);
}

.userRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    width: calc(var(--card-width) / 12);
    height: calc(var(--card-width) / 12);
    border-radius: 0;
    object-fit: cover;
}

.avatarRounded {
    border-radius: 9999px;
}

.username {
    font-size: calc(var(--card-width) / 30);
    padding-left: calc(var(--card-width) / 30);
    font-weight: 700;
    margin: 0;
}

.text {
    font-size: calc(var(--card-width) / 35);
    margin: 0;
}

.mediaPad {
    padding-block: calc(var(--card-width) / 100);
}

.mediaFrame {
    position: relative;
    aspect-ratio: 16 / 9;
    border-radius: calc(var(--card-width) / 50);
    overflow: hidden;
}

.media {
    object-fit: cover;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: calc(var(--card-width) / 35);
}

.actionBtn {
    width: calc(var(--card-width) / 22);
    height: calc(var(--card-width) / 22);
    cursor: pointer;

    padding: 0;
    border: none;
    background: transparent;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.actionBtn:hover .icon {
    transform: scale(1.1);
}

.icon {
    width: calc(var(--card-width) / 22);
    height: calc(var(--card-width) / 22);
    transition:
        transform 80ms ease,
        color 80ms ease;
}

.iconBubbleOn {
    color: #3b82f6;
}

.iconShareOn {
    color: #22c55e;
}

.iconHeartOn {
    color: #ef4444;
}
