.form {
    padding-inline: 1.5rem;
    padding-bottom: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

.buttonRow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.button {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: white;
    border-color: #0284c7;
    background-color: #0ea5e9;
}

.button:disabled {
    cursor: not-allowed;
    border-color: #207aa7;
    background-color: #1c6287;
}

.discardButton {
    border-color: #dc2626;
    background-color: #ef4444;
}
