.fieldHeader {
    padding-left: 1.5rem;
    display: flex;
}

.fieldLabel {
    font-weight: 500;
    flex: 0 2 50%;
}

.required {
    margin-left: 0.25rem;
    color: #ef4444;
}

.deprecated {
    margin-left: 0.25rem;
    color: 234 179 8;
    color: #eab308;
}

.readonly {
    width: 100%;
}

.invalid {
    border-color: #ef4444 !important;
    border-width: 2px;
}

.fieldValue {
    flex: 0 0 50%;
}

.textField {
    width: 100%;
    max-width: 24rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #d1d5db;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.checkboxField {
    width: 100%;
    display: flex;
    align-items: center;
}

.selectManyField {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.phoneField {
    width: 100%;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
}

.validationError {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ef4444;
}

.multiTextRoot {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    padding-inline: 0.25rem;

    &.textField {
        border-radius: 0.66rem;
        background-color: white;
    }
}

.blendInput {
    border: none;
    outline: none;
    background: transparent;
    flex-shrink: 1;
    margin: 0.33rem;

    &:active,
    &:focus-within,
    &:focus-visible,
    &:focus {
        border: none;
        outline: none;
        background: transparent;
    }
}

.valueTagContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    padding: 0.25rem;
}

.valueTag {
    position: relative;
    max-width: 100%;

    padding-inline: 1rem;
    padding-block: 0.45rem;
    border-radius: 9999px;

    font-weight: 600;
    font-size: 0.85rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;

    transition: all 120ms linear;

    &.mutable {
        text-decoration: line-through;
        text-decoration-inset: -0.25rem;
        cursor: pointer;

        &:hover {
            background: rgba(255, 95, 75, 0.3);
            color: rgba(177, 2, 2, 1);
        }
    }
}
